<!DOCTYPE html>
<html>

<head>
    <title><%=title%></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.6/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.6/semantic.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background-color: #2C2F33;">
    <center>
        <div class="ui container">
            <p>
            <div class="ui floating message">
                <h1>Hello!</h1>
            </div>
            </p>
            <p>
            <div class="ui violet message">
                <h1>
                    An error occurred on this page!
                </h1>
            </div>
            </p>
            <p>
            <div class="ui black message">
                <h1>
                    Please report it to <a href="/invite">Here</a>!
                </h1>
            </div>
            </p>
        </div>
    </center>
</body>

</html>