<!DOCTYPE html>
<html>

<head>
    <title>Vendetta</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.6/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.6/semantic.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background-color: #2C2F33;">
    <center>
        <div class="ui container">
            <div class="ui floating message">
                <h1>Still Making</h1>
            </div>
            <img src="/etc/dload.gif" />
        </div>
        <button class="ui inverted grey basic button" onclick="window.location = '/wbot'">WBOT</button>
        <button class="ui inverted grey basic button" onclick="window.location = '/invite'">Vendetta Discord</button>
        <br>
        <button class="ui inverted grey basic button" onclick="window.location = '/discord'">About Vendetta</button>
        <button class="ui inverted red basic button" onclick="window.location = '/amongus'">Among Us Server</button>
        <!-- <button class="ui inverted red basic button" onclick="window.location = '/amongus/among.jpg'">Shhh!</button> -->
    </center>
</body>

</html>