<div class="ui inverted divider"></div>
<div class="ui container">
    <div class="ui inverted right floated horizontal list">
        <div class="disabled item">© Vendetta, Team.</div>
        <a class="item" onclick="alert('작성중입니다.')">Terms</a>
        <a class="item" onclick="alert('작성중입니다.')">Privacy</a>
        <a class="item" href="/invite">Discord</a>
    </div>
    <div class="ui inverted horizontal list">
        <a class="item" href='/discord'>About Us</a>
        <a class="item" href="/wbot/commands">Commands</a>
        <a class="item" onclick="alert('작성중입니다.')">Comming soon..</a>
    </div>
</div>