<!DOCTYPE html>
<html>

<head>
    <title><%=title%></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="og:title" content="Vendetta">
    <meta property="og:description" content="Vendetta Team">
    <meta property="og:image"
        content="https://cdn.glitch.com/a0de9485-b4ff-4c86-9e6f-5fd29484ad35%2Fv.png?v=1589267590471">
    <meta property="og:url" content="https://vendetta-team.glitch.me">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Vendetta">
    <link rel="icon" href="https://cdn.glitch.com/a0de9485-b4ff-4c86-9e6f-5fd29484ad35%2Fv.png?v=1589267590471"
        type="image/x-icon" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.4/semantic.min.js"></script>
</head>

<body style="background-color: #000000;">
    <section style="min-height: 100%;">
        <%- include('./nav') %>
        <center>
            <div class="ui container">
                <h1 class="ui inverted header">
                    <i class="inverted dragon icon"></i>
                    <div class="content">
                        WBOT
                    </div>
                    <div class="ui divider"></div>
                    <div class="sub header">
                        현재 제작중입니다
                    </div>
                </h1>
            </div>
        </center>
    </section>
    <%- include('./footer.ejs') %>
</body>

</html>