<div class="ui inverted segment">
    <div class="ui inverted secondary pointing menu">
        <a class="active item" href="/wbot">
            <img src="https://cdn.glitch.com/a0de9485-b4ff-4c86-9e6f-5fd29484ad35%2Fv.png?v=1589267590471">
        </a>
        <a class="item" href="/wbot/commands">
            Commands
        </a>
        <a class="item">
            Comming Soon...
        </a>
    </div>
</div>